.pagination {
  border-radius: 50px;
  height: 3rem;
  margin-bottom: 2rem;
  background: rgba(221, 221, 221, 0.7);
  border-spacing: 0px;
}

.pagination td {
  text-align: center;
  width: 4rem;
}

.pagination td:first-child {
  padding-left: 1.5rem;
}

.pagination td:last-child {
  padding-right: 1.5rem;
}

.pagination .pg-active {
  background-color: white;
}


